<div class="col-sm-6 col-md-4 mb-3"></div>
  <div class="card">
    <div class="card-header">IP: <%= db_connection.ip %></div>
    <div class="card-body">
      <p class="card-text">Port: <%= db_connection.port %></p>
      <p class="card-text">Database: <%= db_connection.database %></p>
      <p class="card-text">User: <%= db_connection.username %></p>
      <p class="card-text">Password: ********</p>
      <%= link_to 'Connect', db_connection_path(db_connection), class: "btn btn-primary" %>
      <%= link_to 'Delete', db_connection_path(db_connection), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>